body{
    margin: 0;
    padding: 0;
}
.header{
    background-color: rgb(28, 28, 84);
}
img{
    height: 70px;
    width: 70px;
}
h2{
    color: white;
    text-align: center;
    padding:10px;
    display: inline;
}
h3{
    color: white;
    display: inline;
}